*

# Permitir solo lo necesario
!/.dockerignore
!/**/*.csproj
!/**/*.sln
!/**/appsettings*.json
!/**/Program.cs
!/**/Dockerfile

# Excepciones específicas
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.lock.json
*.pyc
*.swp
*.db
*.sqlite
.DS_Store
node_modules/
.env
*.pem
*.cer
*.pvk
*.pub
*.key
*.pubxml
*.log
*.tmp
*.bak
*.orig
*.cache
