@if(loading()){
<p class="text-center">Cargando tareas ...</p>
} @else if (error()){
<p class="text-red-500 text-center">{{ error() }}</p>
} @else {
<div class=" max-w-md sm:max-w-lg md:max-w-2xl">
  @for (task of tasks(); track task.id){
  <app-task-item
    [task]="task" 
    (toggleCompleted)="onToggleCompleted($event)"
    (deleteTask)="onDeleteTask($event)"
    (taskSelected)="onTaskSelected($event)"
    
  />

  } @empty {
  <p class="text-center text-gray-500">No hay tareas disponibles</p>
  }
</div>
}
<app-task-update 
  [task]="selectedTask()"
  (closeMenu)="onCloseMenu()"
  (taskUpdated)="onTaskUpdated($event)"
/>