<div class="fixed inset-2 z-50 transition-all duration-300 pointer-events-none " >
  <aside
    class="absolute rounded-2xl  right-0 top-0 h-full w-80 max-w-md bg-white shadow-xl transition-all duration-300 transform pointer-events-auto"
    [class]="{
      'translate-x-full': !task,
      'translate-x-0': task
    }" (click)="$event.stopPropagation()">

    <form [formGroup]="form" (ngSubmit)="onSave()" class="p-6 h-full flex flex-col">
      <div class="flex justify-between items-center mb-6">
        <button (click)="closeMenu.emit()" class="w-5 h-5 text-gray-500 hover:text-gray-700 cursor-pointer">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="flex flex-1 flex-col">
        <div class="mb-4 flex items-center">
          <input type="checkbox" formControlName="completed" class="h-4 w-4 border-gray-300 rounded-sm">
          <input type="text" formControlName="title" class="w-full px-3 py-2 outline-none text-gray-500 text-sm">
        </div>
        <div class="mb-4  bg-violet-50 p-2 rounded-md">
          <label class="text-gray-700 text-sm">F Vencimiento 
            <input type="date" formControlName="dateOfCreation" (keydown.enter)="$event.preventDefault()"
            class=" rounded   text-sm p-1 bg-white">
          </label>
        </div>
        <div class="mb-4">
          <textarea formControlName="description" rows="4"
            class="w-full px-3 border border-blue-300 text-sm text-gray-500 outline-none bg-blue-50 rounded-md focus:border-blue-500"
            placeholder="Nota"></textarea>
        </div>
      </div>
     
        
      <button type="submit"
        class="py-2 w-full bg-violet-100 border text-sm font-bold border-violet-500 text-violet-500 rounded-md cursor-pointer">
        Atualizar
      </button>
    


    </form>

  </aside>
</div>